html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.header {
	height: 5%;
	background-color: #c4c4c4;
	border-bottom: 1px solid #aaaaaa;
	box-sizing: border-box;
}

.header p {
	display: inline;
	height: 100%;
	padding: 2px 5px;
	line-height: 2;
	font-weight: bold;
}

.body {
	height: 90%;
	background-color: #e2e2e2;
	padding: 10px 10px 0;
	margin-bottom: -10px;
}

.body table {
	width: 100%;
	margin: auto;
	border: 1px solid #aaaaaa;
	border-collapse: collapse;
}

th, td {
	border: 1px solid #aaaaaa;
	padding: 5px;
	text-align: center;
}

.trLabel {
	background-color: #c4c4c4;
	font-weight: bold;
}

.trData {
	background-color: white;
	padding: 0;
}

.footer {
	height: 5%;
	background-color: #c4c4c4;
	border-top: 1px solid #aaaaaa;
	box-sizing: border-box;
	padding: 2px 5px;
}