html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.header {
	height: 5%;
	background-color: #c4c4c4;
	border-bottom: 1px solid #aaaaaa;
	box-sizing: border-box;
}

.header p {
	display: inline;
	height: 100%;
	padding: 2px 5px;
	line-height: 2;
	font-weight: bold;
}

.body {
	height: 90%;
	background-color: #e2e2e2;
	padding: 10px 10px 0;
	margin-bottom: -10px;
}

.body table {
	width: 100%;
	margin: auto;
	border: 1px solid #aaaaaa;
	border-collapse: collapse;
}

th, td {
	border: 1px solid #aaaaaa;
	padding: 5px;
	text-align: center;
}

.tdLabel {
	background-color: #c4c4c4;
	font-weight: bold;
	width: 30%;
}

.tdData {
	background-color: white;
	padding: 0;
	width: 70%;
}

.tdData input {
	width: calc(100% - 10px);
	margin-left: 5px;
	margin-right: 5px;
	box-sizing: border-box;
}

.tdData input.code {
	width: calc(79% - 10px);
	margin-left: 5px;
	margin-right: 0;
	box-sizing: border-box;
}

.tdData input.duplCheck {
	width: calc(20% - 5px);
	margin-left: 0;
	margin-right: 5px;
	box-sizing: border-box;
}

.footer {
	height: 5%;
	background-color: #c4c4c4;
	border-top: 1px solid #aaaaaa;
	box-sizing: border-box;
	padding: 2px 5px;
}

input[type='text'], input[type='number'], input[type='file'] {
	border: 1px solid #aaaaaa;
	border-radius: 5px;
}

input[type='text']:hover, input[type='number']:hover, input[type='file']:hover
	{
	border: 2px solid #66aaff;
	box-sizing: border-box;
}

input[type='text']:focus, input[type='number']:focus, input[type='file']:focus
	{
	border: 2px solid #66aaff;
	box-sizing: border-box;
}

input[type='submit'], input[type='button'] {
	border: 1px solid #aaaaaa;
	border-radius: 5px;
	padding: 2px 10px;
	background-color: #c9e1ff;
	height: 24px;
}

input[type='submit']:hover, input[type='button']:hover {
	background-color: #66aaff;
	color: white;
	cursor: pointer;
}