@charset "UTF-8";

div{ box-sizing:border-box; }

#wrapper{ width:70%; margin:auto; }

#wrapper > #show_keyword{
	width:100%; height:100px;
	margin:40px 0px 40px 0px;
	text-align:center; line-height:100px;
	border:1px solid #aed0ea; border-radius:30px;
	background:#deedf7;
	font-size:30px; font-weight:bold; color:#2779aa;
}

#not_searchedResult{ width:100%; text-align:center; }

.viewMore{
	width:100%; height:40px;
	float:left;
	display:none;
	text-align:center; line-height:40px;
	border:1px solid black;
	font-size:20px;
	
}

#copyright{ float:left; border:1px solid black; }


/* tab content */
.content *{ box-sizing:border-box; }
.content{ width:100%; padding:0px display:none; }
.content ul{ margin:0px; padding:0px; overflow:hidden; }

.content li{ 
	/* 너비와 높이를 지정해주어야만 box-sizing 속성이 적용된다. */
	width:24%;
	height:325px;
	
	float:left;
	margin:0px 10px 10px 0px;
	text-align:center;
	list-style:none;
	overflow:hidden;
	border:1px solid #999999;
}

.content .img{ width:100%; float:left; margin-bottom:0px; }
.content .name{ width:100%; float:left; text-align:left; margin-left:25px; font-size:13px; }
.content .price{ width:100%; float:left; text-align:left; margin:0px 0px 10px 25px; }
.content .price > span{ font-size:20px; }

/* ----------------------------------------------------------------------------------- */

#type2 ul{
	width:130px;
	position:absolute;
	display:none; 
	padding:0px;
	text-align:center;
	list-style:none;
	background:#3baae3 url(/GU/img/ui-bg_glass_50_3baae3_1x400.png) 50% 50% repeat-x;
}
		
#type2 li{
	border:1px solid #2694e8;
	line-height:40px;
	cursor:pointer;
	font-size:100%; font-weight:bold;
	color:#ffffff;
}