#wrap_index{
	width: 100%;
}

a {
	text-decoration: none;
}

#bannerWrapper{
	width:1029px;
	overflow:hidden;
	margin-left:250px;
}

.buttonMenu {
	padding-left: 25px;
	height: 60px;
	line-height: 50px;
	font-weight: bold;
	color: white;
	font-size: 16px;
	background-color: #013282;
	border: 0.5px solid #e0e1e2;
}

#drinkIcon, #iceIcon, #mealIcon, #snackIcon, #instantIcon, #foodIcon,
	#dailyIcon {
	width: 35px;
	height: 35px;
	padding-right: 10px;
	vertical-align: middle;
}

#buttonMenu {
	width:22%;
	float: left;
	margin-top: 2px;
}

#boxDiv, #boxDiv2 {
	float: left;
	margin-top: 3px;
	width: 78%;
	height: 425px;
	position:relative;
	cursor:pointer;
}

#boxDiv2, #boxDiv2 *{ box-sizing:border-box; }

#boxDiv2{
	overflow:hidden;
	border-bottom:1px solid #999999;
	border-right:1px solid #999999;
}

#boxDiv2 > #box2_left{
	width:60%; height:100%;
	float:left;
}

#boxDiv2 > #box2_right{
	width:40%; height:100%;
	float:left;
	border:1px solid black;
}

#right, #left{	
	width: 7%;
    position: absolute; 
    top:0; 
    bottom: 0;
    padding-top:180px; 
}

#right{	   
    right:0;   
}

#left{ 
    left:0;
}

#bannerNavi{
	position: absolute;
	width: 100%;
	max-height:50px;
	top:0; 
    bottom:0;
    margin-top:390px;
   	text-align:center;
}

.pageButton{
	max-width:2%;
	max-height:37%;
	cursor:pointer;
	padding-right:1%;
}

#pauseIcon{
	max-width:2.5%;
	max-height:40%;	
}

#rightButton, #leftButton{
	width:auto;
	max-height:20%;
}

#boxDiv img, #boxDiv li {
	width: 100%;
	height: 425px;
}

#boxDiv ul {
	margin: 0;
	padding: 0;
	padding-left: 1px;
	list-style: none;
}

#boxDiv ul li {
	display: none;
}



/* ============================= 源�誘쇱쭊 ============================= */

/* Best �긽�뭹 */
/* -------------------------------------------------------------------------------- */
#best *{ box-sizing:border-box; }
#best{ width:1010px; margin:50px 0px 100px 250px; }
#title{ width:100%; overflow:hidden; }
#title *{ float:left; }
#title_text{ margin:15px 0px 0px 5px; }
#title_text > span{ font-size:25px; font-weight:bold; }
#best ul{ margin:0px; padding:0px; overflow:hidden; }

#best li{ 
	/* �꼫鍮꾩� �넂�씠瑜� 吏��젙�빐二쇱뼱�빞留� box-sizing �냽�꽦�씠 �쟻�슜�맂�떎. */
	width:24%;
	height:300px;
	margin:0px 10px 10px 0px;
	float:left;
	text-align:center;
	border:1px solid #999999;
	list-style:none;
	overflow:hidden;
}

#best .img{ width:100%; float:left; margin:0px; }

#best .name{
	width:100%; 
	float:left;
	text-align:left;
	margin:0px 0px 7px 25px;
	font-size:13px;
}

#best .price{ width:100%; float:left; text-align:left; margin:0px 0px 10px 25px; }
#best .price > span{ font-size:20px; }
/* -------------------------------------------------------------------------------- */

/* �긽�꽭蹂닿린 */
/* ------------------------------------------------ */
#detail{ width:100%; overflow:hidden; }
#detail_left{ width:30%; float:left; margin-right:40px; }
#detail_right{ width:60%; float:left; }
#detail > .btn{ width:100%; float:left; }
#detail > .btn{ text-align:center; }
/* ------------------------------------------------ */