@charset "UTF-8";

div{ box-sizing:border-box; }


/* ---------------------------------------------------------------------- */
#hot *{ box-sizing:border-box; }

#hot{ width:65%; height:480px; margin:auto; overflow:hidden; }

#hot > #left{ width:35%; height:100%; float:left; }
#hot > #right{ width:65%; height:100%; float:left; }

#hot #title{ width:100%; height:10%; margin:15px 0px -7px 15px; font-size:20px; font-weight:bold; }
#hot #list{ width:100%; height:90%; }
#hot ul{ width:100%; height:100%; margin:0px; padding:0px; overflow:hidden; }
#hot ul > li{ float:left; width:50%; height:50%; }

#b_item0, #b_item1{ border-bottom:1px solid #DCDCDC; }
#hot .b_itemImg{ width:60%; height:100%; float:left; }
#hot .b_itemDescription{ width:40%; height:100%; margin-left:-7px; margin-top:70px; float:left; }

#underline{ width:65%; margin:-13px auto auto auto; }
/* ---------------------------------------------------------------------- */


/* ---------------------------------------------------------------------- */
#type2{ width:65%; margin:70px auto 20px auto; }
#type2 > ul{ margin:0px; padding:0px; overflow:hidden; }

#type2 li{
	width:25%; height:45px;
	float:left;
	box-sizing:border-box;
	text-align:center;
	line-height:40px;
	list-style:none;
	border:1px solid #999999;
}
/* ---------------------------------------------------------------------- */


/* ---------------------------------------------------------------------- */
#mj_search *{ box-sizing:border-box; }

#mj_search{
	width:65%;
	margin:0px auto 40px auto;
	overflow:hidden;
	border:1px solid #999999;
}

#mj_title01, #mj_title02{
	width:100px;
	float:left;
	margin:10px 0px 0px 15px;
    font-size:1.154em; font-weight:bold;
}

#mj_input_area{ width:90%; float:left; }

#mj_input01, #mj_input02{
	width:100%;
	float:left;
	overflow:hidden;
}

#mj_input01 ul{
	float:left;
	overflow:hidden;
	margin:14px -10px 0px 30px; padding:0px;
	text-align:center;
}

#mj_input01 li{ float:left; list-style:none; margin-left:15px; }
#price_li01, #price_li03{ width:110px; }
#price_li02{ width:150px; }
#input_priceRange{ width:260px; float:left; margin:11px 0px 0px 110px; }
#input_priceRange > input{ height:27px; }

#mj_input02 > #search_text{
	width:740px; height:27px;
	float:left;
	margin:12px 0px 10px 48px;
}

#mj_btn_area{ width:10%; float:left; text-align:center; }
#mj_btn_area img{ margin-top:5px; }
/* ---------------------------------------------------------------------- */


/* ---------------------------------------------------------------------- */
#content *{ box-sizing:border-box; }
#content{ width:66%; margin-left:276px; }
#content ul{ margin:0px; padding:0px; overflow:hidden; }

#content li{ 
	/* 너비와 높이를 지정해주어야만 box-sizing 속성이 적용된다. */
	width:24%;
	height:325px;
	
	float:left;
	margin:0px 10px 10px 0px;
	text-align:center;
	border:1px solid #999999;
	list-style:none;
	overflow:hidden;
}

#content .img{ width:100%; float:left; margin-bottom:0px; }
#content .name{ width:100%; float:left; text-align:left; margin-left:25px; font-size:13px; }
#content .price{ width:100%; float:left; text-align:left; margin:0px 0px 10px 25px; }
#content .price > span{ font-size:20px; }
/* ---------------------------------------------------------------------- */


/* ---------------------------------------------------------------------- */
#viewMore{
	width:65.3%; height:40px;
	padding-top:8px; margin:auto auto 200px auto;
	text-align:center;
	border:1px solid black;
	font-size:20px;
}
/* ---------------------------------------------------------------------- */


/* ---------------------------------------------------------------------- */
#list_footer{
	width:100%; height:200px;
	padding-top:100px; margin-top:50px;
	text-align:center;
	border:1px solid black;
}
/* ---------------------------------------------------------------------- */


/* ---------------------------------------------------------------------- */
#detail{ width:100%; overflow:hidden; }
#detail_left{ width:30%; float:left; margin-right:40px; }
#detail_right{ width:60%; float:left; }
#detail > #btn{ width:100%; float:left; }
#detail > #btn{ text-align:center; }
/* ---------------------------------------------------------------------- */


/* ---------------------------------------------------------------------- */
#moving_banner{
	width:10%; height:70%;
	position:absolute;
	right:70px;
	padding-top:30px;
	border:1px solid red;
	background:#EEEEEE;
}
/* ---------------------------------------------------------------------- */


/* ---------------------------------------------------------------------- */
#loader_background{
	width:100%; height:100%;
	display:none; position:fixed;
	left:0; top:0;
	background:black;
	
	/* 불투명도 조절 */
	opacity:0.6; /* 값 범위 : 0 ~ 1 */
	filter:alpha(opacity=60); /* For IE8 and earlier */
}

#loader{ display:none; position:fixed; left:50%; top:50%; }
/* ---------------------------------------------------------------------- */